    {% extends 'base.html'%}

    {% block content%}

    {% load cart %}
<div class="container-fluid mt-4">
  <div class="row">

    <!--filter-->
    <div class="col-lg-3">
      <div class="list-group">
        <a href="/" class="list-group-item list-group-item-action active">All Products</a>
        {% for category in Categories %}
        <a href="/?category={{category.id}}" class="list-group-item list-group-item-action">{{category.name}}</a>
        {% endfor %}
      </div>
    </div>
    <!--all-products-->


    <div id="products" class="col-lg-9">
      <div class="row mx-auto">
    {% for x in HProducts %}
      <div class="card mb-3 mr-3" style="width: 18rem;">
        <img src="{{x.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{x.name}}</h5>
          <p class="card-text"><b>{{x.price}}</b></p>
            {{x|is_in_cart:request.session.cart}}
          

      <div class="card-footer p-0 no-gutters">
        {% if x|is_in_cart:request.session.cart %} 
         <div class="row no-gutters">
          <input type="submit" value="-" class="col-2 btn btn-block btn-secondary">
          <div class="text-center col pt-2">{{x|cart_quantity:request.session.cart}} in Cart</div>
          <input type="submit" value="+" class="col-2 btn btn-block btn-secondary">
         </div>
           

        {% else %}
          
          <form action="/" method="POST" class="btn-block">
            {% csrf_token %}
            <input type="text", hidden name="productID" value="{{x.id}}">
            <input type="submit" class="float-right btn btn-light btn-block border btn-sm" value="Add to Cart">
          </form>

        {% endif %}
          </div>
        </div>
      </div>
    {% endfor %} 
    </div>
    </div>
  </div>
</div>

    {% endblock %}