    {% extends 'base.html'%}
     


    {% block content%}

    <div class="container-fluid mt-4 mx-auto">
    <div class="row mx-auto">
    {% for x in HProducts %}
    <div class="card mb-3 mr-4 " style="width: 18rem;">
      <img src="{{x.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{x.name}}</h5>
          <p class="card-text"><b>{{x.price}}</b></p>
          <a href="#" class="btn btn-light border btn-sm">Add to Cart</a>
        </div>
      </div>
    {% endfor %} 
    </div>
    </div>

    {% endblock %}